<div class="page-header">
  <h1>
    Genres <img src="http://www.clipartbest.com/cliparts/LiK/noE/LiKnoEeia.png" width = 90>
    <a href="/genres/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<ul class="list-group">
  <% @genres.order(title: :asc).each do |genre| %>
  <li class="list-group-item">
    <span class="badge"><%= genre.books.count %></span>
    <a href="/genres/<%= genre.id %>" class="">
      <%= genre.title %>
    </a>
  </li>
  <% end %>
</ul>
