<div class="page-header">
  <h1>
    Authors
    <a href="/authors/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<ul class="list-group">
  <% @authors.order(name: :asc).each do |author| %>
  <li class="list-group-item">
    <span class="badge"><%= author.books.count %></span>
    <a href="/authors/<%= author.id %>" style="text-decoration:none">
      <%= author.name %>
    </a>
  </li>
  <% end %>
</ul>
