<div class="page-header">
  <h1>
  <%= @user.username.capitalize %>
  </h1>
</div>

<% if @user == current_user %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <a href="/photos/new" class="btn btn-default btn-block">
      <i class="fa fa-plus"></i>
    </a>

    <hr>
  </div>
</div>
<% end %>

<%= render @user.books %>
